<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <!-- // desplay bogs with a proper style  -->
    <div class="container    md:mx-auto mt-10   max-w-7xl ">
        <div class="flex mx-4 justify-between items-center ">
            <h1 class="text-2xl font-bold text-start my-4">
                Blogs
            </h1>
            <span class="flex justify-center items-center ">
                <a href="/articles" class="border-2  border-black text-white p-1 rounded-full">
                    <svg id='Plus_24' width='20' height='20' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#ffffff' opacity='0'/>
    
    
                        <g transform="matrix(1 0 0 1 12 12)" >
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: evenodd; opacity: 1;" transform=" translate(-12, -12)" d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z" stroke-linecap="round" />
                        </g>
                        </svg>
                </a>
            </span>
        </div>
        <div class="mx-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  lg::grid-cols-4    gap-4">
            <% blogs.forEach((blog) => { %>
                <div class="border p-3 rounded-md max-w-lg bg-white">
                    <div class="border rounded-xl">
                        <p class="w-full h-40 object-cover rounded-md flex justify-center items-center text-sm text-gray-500">
                            this is the image 
                        </p>
                    </div>
                    <div class="flex flex-col justify-center items-start gap-2 mt-2"> 
                        <h1 class="text-lg font-semibold">
                            <%= blog.title %>
                        </h1>
                        <span class="  text-xs bg-green-100 text-green-500 px-3 py-[2px] rounded-full">
                            sport 
                        </span>
                        <p class="text-gray-500 text-xs line-clamp-2">
                            <%= blog.body %>
                        </p>
                    </div>
                </div>
            <% }); %>
    </div>
</body>
</html>







<div class="reading-content">
    <input type="hidden" id="wp-manga-current-chap" data-id="548919" value="12">
    

<div class="page-break no-gaps">


<img id="image-0" src="https://templikey.like-manga.net/manga/arb1/data/manga_674894b77a539/155897d0a01852418f0c6c8848cbd346/image-01.jpg" class="wp-manga-chapter-img">

</div>



<div class="page-break no-gaps">


<img id="image-1" src="https://templikey.like-manga.net/manga/arb1/data/manga_674894b77a539/155897d0a01852418f0c6c8848cbd346/image-02.jpg" class="wp-manga-chapter-img">

</div>


